.has-error .control-label{
    color: $danger;
}
.has-error input, .has-error select, .has-error textarea, .has-error .note-editor,
.has-error .select2 .select2-selection, .has-error .dropify-wrapper, .has-error .dropzone{
    border-color: $danger;
}
.has-feedback .valid-feedback, .has-feedback .invalid-feedback{
    display: block;
    text-align: right;
    padding: 0px 15px;
}
