body{
    height: 100vh;
    min-height: 100vh;
}
a, a:hover, a:focus {
    transition: all 0.3s;
}

#top-navbar{
    z-index: 999;
}
#top-navbar, .navbar-placeholder{
    height: 56px;
}
#top-navbar .navbar-brand img{
    max-height: 27px;
}
#top-navbar #sidebarCollapse{
    color: rgba(255, 255, 255, 0.5);
    padding: 0.25rem 0.75rem;
    font-size: 1.125rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.25rem;
}
#top-navbar .dropdown-menu.user-dropdown-menu{
    position: absolute;
}
.user-dropdown-menu{
    margin-top: 3px;
    border: 1px solid $secondary;
}
main{
    display: flex;
    width: 100%;
    align-items: stretch;
}
#content{
    width: 100%;
    max-width: 100%;
    transition: all 0.3s;
}

#sidebar a, #sidebar a:hover, #sidebar a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
#sidebar, #sidebar-menu{
    width: $sidebar-width;
    min-width: $sidebar-width;
    max-width: $sidebar-width;
    min-height: 100vh;
    transition: all 0.3s;
    background: #7386D5;
    color: #fff;
}
#sidebar-menu>li:first-child{
    margin-top: 56px;
}
#sidebar-menu>li:last-child{
    margin-bottom: 120px;
}
#sidebar-menu{
    box-sizing: border-box;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    overflow: auto;
}
#sidebar-menu{
    z-index: 0;
}

#sidebar.active, #sidebar.active #sidebar-menu {
    margin-left: -$sidebar-width;
}

#sidebar a[data-toggle="collapse"] {
    position: relative;
}
#sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 0px;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 15px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li.menu-logout-link {
    border-top: 1px solid #47748b;
}
#sidebar ul li a .menu-icon {
    font-size: 130%;
    width: 30px;
    text-align: center;
}
#sidebar ul li a:hover {
    color: #7386D5 !important;
    background: #fff !important;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
#sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

.white-box{
    padding: 25px;
    background-color: $white;
}
.page-content .page-header .page-header-icon{
    font-size: 130%;
}
.page-content .page-header{
    font-size: 200%;
    margin-top: 0px;
    margin-bottom: 15px;
    padding-bottom: 8px;
}
.form-header{
    font-size: 160%
}

.page-menu{
    border-bottom: 2px solid $light;
    margin-bottom: 15px;
}
.page-menu li a.nav-link, .page-menu li a.nav-link:link,
.page-menu li a.nav-link:focus, .page-menu li a.nav-link:active {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid transparent;
    color: $dark;
}
.page-menu li a.nav-link.active{
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid $info;
    color: $info;
}

.table-hover>tbody>tr:hover, .table-striped>tbody>tr:nth-of-type(odd), .table>tbody>tr.active>td, .table>tbody>tr.active>th, .table>tbody>tr>td.active, .table>tbody>tr>th.active, .table>tfoot>tr.active>td, .table>tfoot>tr.active>th, .table>tfoot>tr>td.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>thead>tr.active>th, .table>thead>tr>td.active, .table>thead>tr>th.active {
    background-color: #f7fafc!important;
}

.table-component .table th.has-filter{
    position: relative;
    padding-right: 28px;
}

.table-th-filter-wrapper{
    position: absolute;
    padding: 10px;
    background-color: #ffff;
    border: 1px solid #ccc;
    z-index: 1;
    left: 0px;
    margin-top: 12px;

    -webkit-box-shadow: 0px 5px 5px 0px rgba(204,204,204,1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(204,204,204,1);
    box-shadow: 0px 5px 5px 0px rgba(204,204,204,1);

    display: none;
}
.table-th-filter{
    width: 230px;
    min-width: 230px;
    max-width: 230px;
}

.table-th-filter-btn{
    opacity: 0.8;
    font-size: 110%;
    white-space: nowrap;
    cursor: pointer;
    cursor: hand;

    position: absolute;
    right: 8px;
}
.table-th-filter-btn:hover{
    opacity: 1;
}
.table-th-filter-btn .filter-icon{
    color: $primary;
}
.table-th-filter-btn .filter-active-icon{
    border: 1px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background-color: #fff;
    color: red;
    font-size: 70%;

    position: absolute;
    left: 8px;
    top: 6px;
}

.input-form label{
    font-weight: bold;
}

.dropzone{
    border: 2px dashed #E5E5E5;
    color: #777;
}

.input-form .form-section{
    padding: 15px;
    margin-bottom: 30px;
    background-color: #f7fafc;

    border-radius: 10px;
}
.input-form .form-section.pivot-section{
    background-color: #eee;
}
.input-form .form-section .section-header .section-header-icon{
    font-size: 130%;
}
.input-form .form-section .section-header{
    font-size: 130%;
    margin-top: 0px;
    margin-bottom: 15px;
    padding-bottom: 8px;
    border-bottom: 1px solid #000;
}

.swal2-close, .swal2-close:active, .swal2-close:focus, .swal2-close:hover{
    outline: none !important;
}
.select2-dropdown {
    z-index: 9999;
}

.swal-messages .msg-icon{
    min-width: 25px;
    text-align: center;
}
.component-placeholder{
    background: $light;
    min-height: 80px;
    padding: 30px;
}
#component>.component-placeholder{
    min-height: 350px;
}
.entity-instance-input-value{
    width: 100%;
}
.subcomponent-table{
    background: #fff;
    padding: 10px;
}
.component-redirecting .spinner, .component-loading .spinner{
    font-size: 10%;
    width: 3rem;
    height: 3rem;

    transition: all 0.3s;
}
.component-error .component-error-icon{
    font-size: 350%;
    color: $text-muted;
}
.component-error .component-error-text{
    color: $text-muted;
    margin-top: 10px;
    font-size: 150%;
}

.select2-container--default .select2-results__option[aria-selected=true]{
    display: none;
}

.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table > tbody > tr > td.active, .bootstrap-datetimepicker-widget table td.active:hover{
    background-color: $primary !important;
}
.bootstrap-datetimepicker-widget .timepicker-picker td{
    padding: 0px;
}


form textarea{
    min-height: 100px;
}

.bs-toggle .toggle-handle{
    background-color: $white;
}
.bs-toggle{
    border-color: $border-color;
}
.bs-toggle[disabled] .toggle-on, .bs-toggle[disabled] .toggle-off{
    background-color: $gray-500 !important;
    border-color: $gray-500;
}
.minicolors{
    width: 100%;
}
.dropzone{
    width: 100%;
}
.dropzone-disabled{
    background-color: $gray-100;
    display: flex;
}
.dropzone-disabled .dz-disabled-file{
    width: 120px;
    margin: 15px;
    text-align: center;
}
.dropzone-disabled .dz-disabled-file .file-name{
    margin-top: 5px;
}
.dz-default-icon{
    font-size: 200%;
    display: block;
    margin-bottom: 10px;
}
.dz-btns{
    margin-top: 6px;
    visibility: hidden;
}
.dropzone .dz-preview{
    margin: 0px;
    padding: 16px;
}
.dz-preview:hover{
    background-color: #eff6ff;
    border-radius: 10px;
}
.dz-preview:hover .dz-btns{
    visibility: visible;
}
.dz-btns .btn, .dz-btns .btn .fa{
    cursor: pointer;
    cursor: hand;
}
.has-error .control-label{
    color: $danger;
}
.has-error input, .has-error select, .has-error textarea, .has-error .note-editor,
.has-error .select2 .select2-selection, .has-error .dropify-wrapper, .has-error .dropzone{
    border-color: $danger;
}
.has-feedback .valid-feedback, .has-feedback .invalid-feedback{
    display: block;
}

.remote-entity-pill{
    display: inline-block;
    border: 1px solid $primary;
    color: $primary;
    white-space: nowrap;
    padding: 5px 10px;
    margin: 3px;
    border-radius: 10px;
}

.remote-entity-pill:not(.no-link){
    cursor: pointer;
    cursor: hand;
    opacity: 0.7;
}
.remote-entity-pill:not(.no-link):hover{
    opacity: 1;
}


.img-thumbnail{
    background-color: transparent;
}
.pagination{
    justify-content: center;
}
.table-tools{
    width: 150px;
}
.table-total-records{
    font-weight: bold;
    padding: 7px 10px;
}
.table .sortable-handle{
    display: block;
    margin: 10px 15px 10px 0px;
    float: left;
    font-size: 20px;
    color: $secondary;
    cursor: move;
}
.sortable-placeholder,
.table-hover > tbody > tr.sortable-placeholder:hover, .table-striped > tbody > tr.sortable-placeholder:nth-of-type(odd),
.table-hover > tbody > tr.sortable-placeholder:hover, .table-striped > tbody > tr.sortable-placeholder:nth-of-type(even){
    background-color: #d1edff !important;
}
.table-component table:after{
    display: none;
    content: " ";
    background-color: #fff;
    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.table-component table.table-loading{
    position: relative;
}
.table-component table.table-loading:after{
    display: block;
    opacity: 0.5;
}
.table-component tr{
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}
.table-component tr.row-hidden{
    opacity: 0.5;
}

#component>.table-component .table-responsive{
    min-height: 650px; /* workaround for overflow - filters popup (like icons, datepicker, etc) are displayed incorrectly otherwise */
}

.empty-value{
    color: #ccc;
}
.table-cell-list{
    padding-left: 15px;
}
.table-cell-list.single-item{
    list-style-type: none;
    padding-left: 0px;
}

main.has-sidebar:not(.sidebar-active) #content{
    max-width: calc( 100% - #{$sidebar-width} );
}

@media (max-width: 768px) {
    #sidebar, #sidebar #sidebar-menu {
        margin-left: -$sidebar-width;
    }
    #sidebar.active, #sidebar.active #sidebar-menu {
        margin-left: 0;
    }
    main.has-sidebar.sidebar-active #content{
        max-width: calc( 100% - #{$sidebar-width} );
    }
    main.has-sidebar:not(.sidebar-active) #content{
        max-width: 100%;
    }
}

.icons-selector{
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    height: 35px;
}

.icons-selector .selector-popup{
    margin-top: 1px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.icons-selector .selector-popup-wrap{
    z-index: 1000;
    left: 0px !important;
}
.icons-selector .selector{
    height: 35px;
}
.icons-selector .selected-icon i, .icons-selector .selector-button i{
    line-height: 35px;
}
.fip-icons-container .fip-box{
    font-size: 180%;
}
.icons-selector .selector-button{
    width: 100%;
    position: absolute;
    background: transparent;
    text-align: right;
    padding-right: 8px;
    box-sizing: border-box;
}

/* bug displaying icons - overwritten by "search" font */
.icons-selector .selected-icon .fab,
.icons-selector .fip-icons-container .fab{
    font-family:"Font Awesome 5 Brands";
}
.icons-selector .selected-icon .far,
.icons-selector .fip-icons-container .far{
    font-family:"Font Awesome 5 Free";
    font: normal normal 400 100% "Font Awesome 5 Free";
}
.icons-selector .selected-icon .fa,
.icons-selector .selected-icon .fas,
.icons-selector .fip-icons-container .fa,
.icons-selector .fip-icons-container .fas{
    font-family:"Font Awesome 5 Free";
    font: normal normal 900 100% "Font Awesome 5 Free";
}
.icons-selector .selected-icon{
    vertical-align: middle;
    line-height: 35px;
    font-size: 130%;
}

.bootstrap-select.form-control,
.bootstrap-select.form-control:focus,
.bootstrap-select.form-control:hover,
.bootstrap-select.form-control:active{
background-color: #fff;
border: 1px solid #ced4da !important;
color: #495057 !important;
}
.bootstrap-select.form-control button,
.bootstrap-select.form-control button:focus,
.bootstrap-select.form-control button:hover,
.bootstrap-select.form-control button:active{
background-color: #fff !important;
color: #495057 !important;
}

.modal .modal-content>button.close{
position: absolute;
right: -10px;
top: -10px;
background-color: #eee;
border-radius: 50%;
width: 30px;
height: 30px;
opacity: 1;
z-index: 1;
}
.modal .modal-content>button.close:focus, .modal .modal-content>button.close:active{
outline: none;
}
.modal .modal-content>button.close:hover{
background-color: #ddd;
opacity: 1 !important;
}

.entity-picker{
position: relative;
width: 100%;
}
.entity-picker .entity-picker-loader{
display: none;
position: absolute;
width: 100%;
border: 1px solid #ccc;
border-top: 0;
background: #fff;
box-shadow: -1px 1px 3px rgba(0,0,0,.1);
top: 38px;
left: 0px;
z-index: 10;
}
.entity-picker-loader .spinner{
font-size: 2px;
width: 20px;
height: 20px;
margin: 8px;
}
.entity-picker.entity-picker-loading .entity-picker-loader{
display: block;
}
.entity-picker-dropdown .autocomplete-suggestion{
height: 35px;
line-height: 35px;
}
.entity-picker-dropdown .autocomplete-suggestion b{
color: #000;
font-weight: bold;
}
.entity-picker-dropdown-list-icon{
width: 20px;
text-align: center;
}

.entity-picker-items{
padding: 10px 0px;
}
.entity-picker[disabled] .entity-picker-item-tools-wrapper{
    display: none;
}
.entity-picker-item-tool{
padding: 0px 3px;
}
.entity-picker-item-tool.entity-picker-item-move{
cursor: move;
}

.file_structure-component .file-structure-cell-content, .file_structure-component .folder-link{
    display: flex;
    align-items: center;
    width: 100%;
}
.file-structure-icon{
    width: 35px;
    display: block;
    margin: 10px 5px 10px 0px;
    font-size: 10px;
}
.bootstrap-select .file-structure-icon{
    display: inline-block;
    margin: 0px;
}
.bootstrap-select .dropdown-menu li.selected .fa-inverse{
    color: #7386D5;
}
.file-structure-level-up .file-structure-icon{
    font-size: 20px;
    width: auto;
}
.file-structure-icon.file-structure-icon-is-folder{
    font-size: 13px;
}
.file-structure-icon.file-structure-icon-is-folder .fa-stack-1x{
    margin-top: 2px;
}
.file_structure-component .folder-link:hover{
    text-decoration: none;
}
.file_structure-component .folder-link:hover :not(.file-structure-icon *){
    text-decoration: underline;
}
.file_structure-component .folder-link{
    display: flex;;
}
.file_structure-component .sortable-handle{
    float: none;
}
.file_structure-component .entity-instance-input-value{
    flex-grow: 1;
}
.file_structure-component td.file-structure-level-up{
    padding: 0px 12px;
}
